@page
@model WebApplication2.Pages.DetailModel
@{
    ViewData["Title"] = "Данные о ";
}

<div id="details">
    <h1>Иванов Иван Иванович</h1>
    <div class="row">
        <div class="col-md-6">
            <fieldset>
                <legend>Основная информация</legend>
                <p>День рождения: </p>
                <p>Пол: </p>
                <p>Национальность: </p>
                <p>Адрес проживания: </p>
                <p>Номер телефона: <a></a></p> <!-- Можно попробовать <u></u> -->
                <p>E-mail: <a></a></p>
            </fieldset>
            
            <fieldset>
                <legend>Дополнительная информация</legend>
                <p>СНИЛС: </p>
                <p>Наличие трудовой книжки: </p>
                <p>Направление подготовки: </p>
                <p>Дата обучения: </p>
                <p>Форма обучения: </p>
            </fieldset>
        </div>
        <fieldset class="col-md-6">
            <legend>Деятельность выпускника</legend>
            <p>30.06.21 Завершение обучения по направлению подготовки (указать)</p>
            <p>01.08.21 Безработный, поставлен на учёт</p>
            <p>01.10.21 Служба в ВС РФ, в/ч 66666, рядовой</p>
            <p>01.12.22 Трудоустройство в <a>ООО "Рога и копыта"</a>, должность – инженер</p> <!-- Cсылка должна вести на список "Место работы"" (полное название организации, ОКВЭД, ИНН, регион регистрации)-->
            <p>10.02.23 Самозанятый, разработка ПО</p>
        </fieldset>
    </div>
</div>