@page
@model PrivacyModel
@{
    ViewData["Title"] = "Правила использования";
}
<h1>Правила использования веб-приложения для учёта трудоустройства выпускников</h1>

<div style="margin-bottom: 40px;">
    <h3>1. Общие положения</h3>
    <p>1.1. Данное веб-приложение предназначено для ведения учёта трудоустройства выпускников Технологического института имени Фэджера.</p>
    <p>1.2. Пользователь обязуется предоставлять достоверную и точную информацию о выпускниках в соответствии с требованиями настоящих правил.</p>
</div>

<div style="margin-bottom: 40px;">
    <h3>2. Информация о выпускниках</h3>
    <p>2.1. При регистрации выпускника в системе обязательно указывать следующую информацию:</p>
    <ul style="margin-bottom: 20px;">
        <li>ФИО;</li>
        <li>Дату рождения;</li>
        <li>Пол;</li>
        <li>Гражданство;</li>
        <li>Адрес проживания;</li>
        <li>Телефон;</li>
        <li>Электронная почта;</li>
        <li>СНИЛС;</li>
        <li>Код направления подготовки;</li>
        <li>Название направления подготовки;</li>
        <li>Профиль направления подготовки;</li>
        <li>Год поступления;</li>
        <li>Год окончания;</li>
        <li>Форма обучения.</li>
    </ul>
</div>

<div style="margin-bottom: 40px;">
    <h3>3. Сведения о трудоустройстве выпускников</h3>
    <p>3.1. В случае трудоустройства выпускника необходимо указать:</p>
    <ul>
        <li>Наличие трудовой книжки;</li>
        <li>Место работы (полное название организации, ОКВЭД, ИНН, регион регистрации);</li>
        <li>Должность.</li>
    </ul>
    <p>3.2. Если выпускник самозанятый, указывать род его деятельности.</p>
    <p>3.3. При безработице выпускника указывать дату постановки на учёт.</p>
    <p>3.4. В случае прохождения выпускником службы в вооружённых силах указывать место службы и воинское звание.</p>
</div>

<div style="margin-bottom: 40px;">
    <h3>4. Хронология смены работ выпускника</h3>
    <p>4.1. Система ведёт хронологию смены работ выпускника, начиная с момента выпуска и далее с отметкой по дате смены статуса (трудоустройство, безработица, служба в армии и т.д.).</p>
    <p>4.2. Обязательно указывать дату смены статуса трудоустройства выпускника.</p>
</div>

<div style="margin-bottom: 40px;">
    <h3>5. Список работодателей</h3>
    <p>5.1. Система предоставляет возможность вести список работодателей, где трудоустроены выпускники.</p>
</div>

<div style="margin-bottom: 40px;">
    <h3>6. Интерфейс системы</h3>
    <p>6.1. В случае возникновения вопросов или трудностей при использовании системы пользователь может обратиться в службу поддержки.</p>
</div>

<div style="margin-bottom: 40px;">
    <h3>7. Заключительные положения</h3>
    <p>7.1. Администрация системы имеет право вносить изменения в настоящие правила без предварительного уведомления пользователей.</p>
    <p>7.2. Продолжение использования системы после внесения изменений в правила означает согласие пользователя с этими изменениями.</p>
</div>